<div class="footer">
    <div class="container">
        <div class="box">
            <a class="navbar-brand" href="#">
                <span>TaQa</span>
                <span>News</span>
            </a>
            <ul class="social list-unstyled">
                <li>
                    <a href="#" class="facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
            </ul>
            <p class="text">
                 منصة إعلامية وبحثية واستشارية متخصصة في أسواق الطاقة على المستويات الاقتصادية والسياسية والبيئية والتقنية الفنية، وتغطي كل ما يتعلق بالتغير المناخي والانتقال الطاقي والحياد الكربوني، بما في ذلك المعادن وعمليات التعدين اللازمة لهذا التحول.
            </p>
        </div>
        <div class="box">
            <ul class="links list-unstyled">
                <li><a href="#">Important Link 1</a></li>
                <li><a href="#">Important Link 2</a></li>
            </ul>
        </div>
        <div class="box">
            <div class="line">
                <i class="fas fa-map-marker-alt fa-fw"></i>
                <div class="info">السويس, مصر</div>
            </div>
            <div class="line">
                <i class="fas fa-phone-volume fa-fw"></i>
                <div class="info">
                    <span>اتصل بنا</span>
                </div>
            </div>
        </div>
    </div>
    <div class="me">
        <p class="copy">Copyright &copy; 2022 All Rights Reserved</p>
        Coded by <a href="https://www.facebook.com/AhmedddAshraf/">Ahmed Ashraf Muhammed</a>
    </div>
</div>
<!--End Footer Section-->