.card-group .card img{
    height: 300px;
}
.card-group .card{
    border: 3px solid #ccc;
    padding: 5px;
    text-align: center;
}
h5.sectionTitle{
    border-bottom: 5px solid yellowgreen;
    text-align: center;
    padding: 7px;
}
svg{color: yellowgreen;}
.card-group .card .card-body span{
    background-color: yellowgreen;
}